In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import requests
from pyquery import PyQuery as pq

In [43]:
Mergeddata= pd.read_csv("mergeddata.csv")
DBNs = np.array((Mergeddata["DBN"]))
DBNs = list(set(DBNs))
# DBNs

In [45]:
# keep the last four digits to the DBNs to get true DBNs
DBNs_t = []
for DBN in DBNs:
    DBNs_t.append(str(DBN)[-4:])
test = DBNs_t[0:20]
# print test

In [46]:
#find all DBN numbers
# DBN = ["M540", "M539","75K004","75K036", "25Q120", "25Q154",
# "25Q163", "K403", "K751"]

In [49]:
#iterate through DBN numbers and load page with funding info
# output = {}
# counter = 0
# for school in test:
#     fundinginfo = pq(requests.get("http://schools.nyc.gov/AboutUs/funding/schoolbudgets/fy12SchoolBudgetOverview.htm?schoolcode="+school).text)
#     funding = pq(fundinginfo)("#doecontrol_bottomcentercontainer_b_Executive_Summary_lblB01_R17").text()
#     if funding == '':
#         funding = 0
#     output[DBNs[counter]] = funding
#     counter +=1
# print output
fundingdf= pd.DataFrame(output, index = [0])
# finaldf.set_index("")
fundingdf

       05M194      05M195      05M197      09X303      10X225      10X226      10X228      10X340      10X342    10X344      11X068      11X462      13K113      14K318      15K230      18K279  75Q009  75Q993  84M726  84X165
0  $2,252,445  $2,946,889  $2,270,648  $1,747,218  $3,001,810  $2,722,452  $1,960,064  $3,042,324  $3,479,707  $918,220  $4,171,926  $1,368,822  $4,709,484  $7,720,906  $6,424,382  $3,577,652       0       0       0       0

In [ ]:
#convert dictionary into dataframe
{'10X225': '$3,001,810', '14K318': '$7,720,906', '84M726': 0, '10X226': '$2,722,452', '75Q009': 0, '05M197': '$2,270,648', '05M194': '$2,252,445', '05M195': '$2,946,889', '10X342': '$3,479,707', '11X068': '$4,171,926', '10X340': '$3,042,324', '10X228': '$1,960,064', '10X344': '$918,220', '09X303': '$1,747,218', '75Q993': 0, '84X165': 0, '13K113': '$4,709,484', '11X462': '$1,368,822', '18K279': '$3,577,652', '15K230': '$6,424,382'}