In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [2]:
Math=pd.read_csv("Math.csv")
Charter = pd.read_csv("Math-Charter.csv")
Size = pd.read_csv("ClassSize.csv")
Survey = pd.read_csv("SurveyData.csv")
Demo = pd.read_csv("DemographicData.csv")

In [138]:

Survey.drop(Survey.columns != Survey.isin["eng_p_10", "eng_s_10", "eng_t_10", "aca_p_10", "aca_t_10", "aca_s_10"], axis = 1)

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [3]:
Math = Math.drop("Demographic", axis = 1)
Charter = Charter.drop("Demographic", axis = 1)

In [4]:
Charter["School Type"] = "Charter"
Math["School Type"] = "Public"
Math.head()

      DBN Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
0  01M015     3  2006             39              667           2         5.1          11        28.2          20        51.3           6        15.4                26              66.7      Public
1  01M015     3  2007             31              672           2         6.5           3         9.7          22          71           4        12.9                26              83.9      Public
2  01M015     3  2008             37              668           0           0           6        16.2          29        78.4           2         5.4                31              83.8      Public
3  01M015     3  2009             33              668           0           0           4        12.1          28        84.8           1           3                29              87.9      Public
4  01M015     3  2010             26              677           6        23.1          12        46.2           6        23.1           2         7.7                 8              30.8      Public

In [144]:
# this isnt working 
for i in range(1, 10):
    df =  Math.drop(Math["Year"][i] != "2011")

In [152]:
df =  Math[Math["Year"] == 2011]
df.head()

       DBN       Grade  Year   Demographic  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4
5   01M015           3  2011  All Students             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9
12  01M015           4  2011  All Students             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3
19  01M015           5  2011  All Students             25              667           5          20           8          32          12          48           0           0                12                48
27  01M015  All Grades  2011  All Students             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6
34  01M019           3  2011  All Students             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5

In [102]:
Math.shape

(33461, 16)

In [ ]:
#### Math1 = Math.drop("Year" == "2006", errors = "ignore")
Math1
# Math1.head()
# Math2 = Math1.drop("Year" == "2007", errors = "raise")
# Math2.head()
# Math3 = Math2.drop("Year" == "2008", errors = "ignore")
# Math3.head()

In [72]:
merge = MathEll.merge(englishEll, how='outer', on=["DBN", "Grade", "Year", "Demographic"],
      left_index=False, right_index=False, sort=False, copy=True)
merge.columns = ['DBN', 'Grade', "Year", "Demographic", "M.NumberTested", "M.Mean Scale Score", "M.Num Level 1", "M.Pct Level 1", "M.Num Level 2", "M.Pct Level 2","M.Num Level 3", "M.Pct Level 3", "M.Num Level 4", "M.Pct Level 4", "M.Num Level 3 and 4", "M.Pct Level 3 and 4","E.NumberTested", "E.Mean Scale Score", "E.Num Level 1", "E.Pct Level 1", "E.Num Level 2", "E.Pct Level 2","E.Num Level 3", "E.Pct Level 3", "E.Num Level 4", "E.Pct Level 4", "E.Num Level 3 and 4", "E.Pct Level 3 and 4"]

In [73]:
merge.shape

(64319, 28)

In [74]:
merge.head()

      DBN Grade  Year Demographic  M.NumberTested M.Mean Scale Score M.Num Level 1 M.Pct Level 1 M.Num Level 2 M.Pct Level 2 M.Num Level 3 M.Pct Level 3 M.Num Level 4 M.Pct Level 4 M.Num Level 3 and 4 M.Pct Level 3 and 4  E.NumberTested E.Mean Scale Score E.Num Level 1 E.Pct Level 1 E.Num Level 2 E.Pct Level 2 E.Num Level 3 E.Pct Level 3 E.Num Level 4 E.Pct Level 4 E.Num Level 3 and 4 E.Pct Level 3 and 4
0  01M015     3  2006         ELL               4                  s             s             s             s             s             s             s             s             s                   s                   s             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
1  01M015     3  2006          EP              35                671             0             0            10          28.6            19          54.3             6          17.1                  25                71.4              37                651             4          10.8            14          37.8            19          51.4             0             0                  19                51.4
2  01M015     3  2007         ELL               8                668             0             0             1          12.5             6            75             1          12.5                   7                87.5               8                627             2            25             6            75             0             0             0             0                   0                   0
3  01M015     3  2007          EP              23                674             2           8.7             2           8.7            16          69.6             3            13                  19                82.6              25                637             4            16            12            48             9            36             0             0                   9                  36
4  01M015     3  2008         ELL               6                670             0             0             0             0             6           100             0             0                   6                 100               6                643             0             0             4          66.7             2          33.3             0             0                   2                33.3

In [78]:
Charter.shape

(1835, 16)

In [79]:
Charter.head()

      DBN Grade  Year   Demographic  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4
0  84K355     5  2006  All Students             72              664           1         1.4          24        33.3          41        56.9           6         8.3                47              65.3
1  84K355     5  2007  All Students             64              688           0           0           4         6.3          44        68.8          16          25                60              93.8
2  84K355     5  2008  All Students             76              688           1         1.3           2         2.6          50        65.8          23        30.3                73              96.1
3  84K355     5  2009  All Students             52              703           0           0           0           0          21        40.4          31        59.6                52               100
4  84K355     5  2010  All Students             79              692           0           0          11        13.9          49          62          19        24.1                68              86.1

In [96]:
schools = []
for i in Math.iterrows():
    schools.append(i[1]["DBN"])

In [97]:
# Charter.columns = ['DBN', 'Grade', "Year", "Demographic", "M.NumberTested", "M.Mean Scale Score", "M.Num Level 1", "M.Pct Level 1", "M.Num Level 2", "M.Pct Level 2","M.Num Level 3", "M.Pct Level 3", "M.Num Level 4", "M.Pct Level 4", "M.Num Level 3 and 4", "M.Pct Level 3 and 4"]

In [98]:
Charter.head()

      DBN Grade  Year   Demographic  M.NumberTested M.Mean Scale Score M.Num Level 1 M.Pct Level 1 M.Num Level 2 M.Pct Level 2 M.Num Level 3 M.Pct Level 3 M.Num Level 4 M.Pct Level 4 M.Num Level 3 and 4 M.Pct Level 3 and 4
0  84K355     5  2006  All Students              72                664             1           1.4            24          33.3            41          56.9             6           8.3                  47                65.3
1  84K355     5  2007  All Students              64                688             0             0             4           6.3            44          68.8            16            25                  60                93.8
2  84K355     5  2008  All Students              76                688             1           1.3             2           2.6            50          65.8            23          30.3                  73                96.1
3  84K355     5  2009  All Students              52                703             0             0             0             0            21          40.4            31          59.6                  52                 100
4  84K355     5  2010  All Students              79                692             0             0            11          13.9            49            62            19          24.1                  68                86.1

In [99]:
merge = Math.append(Charter, ignore_index=True)

In [101]:
merge.shape

(66154, 28)

In [112]:
Size

       CSD BOROUGH SCHOOL CODE                                        SCHOOL NAME GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0        1       M        M015                          P.S. 015 Roberto Clemente     0K       GEN ED                                    -                                   -                           -                                 19                   1                19.0                      19                     19         ATS                             NaN
1        1       M        M015                          P.S. 015 Roberto Clemente     0K          CTT                                    -                                   -                           -                                 21                   1                21.0                      21                     21         ATS                             NaN
2        1       M        M015                          P.S. 015 Roberto Clemente     01       GEN ED                                    -                                   -                           -                                 17                   1                17.0                      17                     17         ATS                             NaN
3        1       M        M015                          P.S. 015 Roberto Clemente     01          CTT                                    -                                   -                           -                                 17                   1                17.0                      17                     17         ATS                             NaN
4        1       M        M015                          P.S. 015 Roberto Clemente     02       GEN ED                                    -                                   -                           -                                 15                   1                15.0                      15                     15         ATS                             NaN
5        1       M        M015                          P.S. 015 Roberto Clemente     02          CTT                                    -                                   -                           -                                 17                   1                17.0                      17                     17         ATS                             NaN
6        1       M        M015                          P.S. 015 Roberto Clemente     03       GEN ED                                    -                                   -                           -                                 12                   1                12.0                      12                     12         ATS                             NaN
7        1       M        M015                          P.S. 015 Roberto Clemente     03          CTT                                    -                                   -                           -                                 15                   1                15.0                      15                     15         ATS                             NaN
8        1       M        M015                          P.S. 015 Roberto Clemente     04       GEN ED                                    -                                   -                           -                                 26                   2                13.0                      12                     14         ATS                             NaN
9        1       M        M015                          P.S. 015 Roberto Clemente     05       GEN ED                                    -                                   -                           -                                 27                   1                27.0                      27                     27         ATS                             NaN
10       1       M        M015                          P.S. 015 Roberto Clemente  0K-09      SPEC ED                                    -                                   -                      12:1:1                                  9                   1                 9.0                       9                      9         ATS                             NaN
11       1       M        M015                          P.S. 015 Roberto Clemente    NaN          NaN                                  NaN                                 NaN                         NaN                                NaN                 NaN                 NaN                     NaN                    NaN         NaN                             8.4
12       1       M        M019                                P.S. 019 Asher Levy     0K       GEN ED                                    -                                   -                           -                                 39                   2                19.5                      18                     21         ATS                             NaN
13       1       M        M019                                P.S. 019 Asher Levy     0K          CTT                                    -                                   -                           -                                 12                   1                12.0                      12                     12         ATS                             NaN
14       1       M        M019                                P.S. 019 Asher Levy     01       GEN ED                                    -                                   -                           -                                 39                   2                19.5                      19                     20         ATS                             NaN
15       1       M        M019                                P.S. 019 Asher Levy     01          CTT                                    -                                   -                           -                                 13                   1                13.0                      13                     13         ATS                             NaN
16       1       M        M019                                P.S. 019 Asher Levy     02       GEN ED                                    -                                   -                           -                                 46                   2                23.0                      22                     24         ATS                             NaN
17       1       M        M019                                P.S. 019 Asher Levy     03       GEN ED                                    -                                   -                           -                                 35                   2                17.5                      17                     18         ATS                             NaN
18       1       M        M019                                P.S. 019 Asher Levy     04       GEN ED                                    -                                   -                           -                                 22                   1                22.0                      22                     22         ATS                             NaN
19       1       M        M019                                P.S. 019 Asher Levy     04          CTT                                    -                                   -                           -                                 24                   1                24.0                      24                     24         ATS                             NaN
20       1       M        M019                                P.S. 019 Asher Levy     05       GEN ED                                    -                                   -                           -                                 22                   1                22.0                      22                     22         ATS                             NaN
21       1       M        M019                                P.S. 019 Asher Levy     05          CTT                                    -                                   -                           -                                 21                   1                21.0                      21                     21         ATS                             NaN
22       1       M        M019                                P.S. 019 Asher Levy  0K-09      SPEC ED                                    -                                   -                        12:1                                  7                   1                 7.0                       7                      7         ATS                             NaN
23       1       M        M019                                P.S. 019 Asher Levy  0K-09      SPEC ED                                    -                                   -                      12:1:1                                 11                   1                11.0                      11                     11         ATS                             NaN
24       1       M        M019                                P.S. 019 Asher Levy    NaN          NaN                                  NaN                                 NaN                         NaN                                NaN                 NaN                 NaN                     NaN                    NaN         NaN                            10.0
25       1       M        M020                               P.S. 020 Anna Silver     0K       GEN ED                                    -                                   -                           -                                 89                   4                22.3                      20                     23         ATS                             NaN
26       1       M        M020                               P.S. 020 Anna Silver     0K          CTT                                    -                                   -                           -                                 22                   1                22.0                      22                     22         ATS                             NaN
27       1       M        M020                               P.S. 020 Anna Silver     01       GEN ED                                    -                                   -                           -                                 69                   3                23.0                      22                     24         ATS                             NaN
28       1       M        M020                               P.S. 020 Anna Silver     01          CTT                                    -                                   -                           -                                 21                   1                21.0                      21                     21         ATS                             NaN
29       1       M        M020                               P.S. 020 Anna Silver     02       GEN ED                                    -                                   -                           -                                 55                   3                18.3                      16                     21         ATS                             NaN
...    ...     ...         ...                                                ...    ...          ...                                  ...                                 ...                         ...                                ...                 ...                 ...                     ...                    ...         ...                             ...
27581   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED                              SCIENCE                       Other Science                           -                                313                  12                26.1                      18                     33       STARS                             NaN
27582   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED                       SOCIAL STUDIES          Global History & Geography                           -                                289                  11                26.3                      15                     34       STARS                             NaN
27583   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED                       SOCIAL STUDIES             US History & Government                           -                                128                   5                25.6                      13                     32       STARS                             NaN
27584   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED                       SOCIAL STUDIES                           Economics                           -                                 59                   2                29.5                      26                     33       STARS                             NaN
27585   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED                       SOCIAL STUDIES         Participation in Government                           -                                 63                   2                31.5                      30                     33       STARS                             NaN
27586   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              ENGLISH                           English 9                           -                                 14                   1                14.0                      14                     14       STARS                             NaN
27587   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              ENGLISH                          English 10                           -                                 11                   1                11.0                      11                     11       STARS                             NaN
27588   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              ENGLISH                          English 11                           -                                 10                   1                10.0                      10                     10       STARS                             NaN
27589   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                                 MATH                  Integrated Algebra                           -                                 26                   2                13.0                      12                     14       STARS                             NaN
27590   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              SCIENCE                       Earth Science                           -                                 22                   2                11.0                      11                     11       STARS                             NaN
27591   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              SCIENCE                  Living Environment                           -                                 25                   2                12.5                      12                     13       STARS                             NaN
27592   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                              SCIENCE                           Chemistry                           -                                 22                   2                11.0                      11                     11       STARS                             NaN
27593   32       K        K556  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED                       SOCIAL STUDIES          Global History & Geography                           -                                 36                   3                12.0                      10                     14       STARS                             NaN
27594   32       K        K556  Bushwick Leaders High School for Academic Exce...    NaN          NaN                                  NaN                                 NaN                         NaN                                NaN                 NaN                 NaN                     NaN                    NaN         NaN                            14.7
27595   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              ENGLISH                           English 9                           -                                261                  10                26.1                      17                     35       STARS                             NaN
27596   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              ENGLISH                          English 10                           -                                102                   4                25.5                      17                     30       STARS                             NaN
27597   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              ENGLISH                          English 11                           -                                144                   6                24.0                      21                     28       STARS                             NaN
27598   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              ENGLISH                          English 12                           -                                132                   5                26.4                      19                     29       STARS                             NaN
27599   32       K        K564                     Bushwick Community High School  09-12       GEN ED                                 MATH                  Integrated Algebra                           -                                342                  14                24.4                      19                     28       STARS                             NaN
27600   32       K        K564                     Bushwick Community High School  09-12       GEN ED                                 MATH                              Math A                           -                                 23                   1                23.0                      23                     23       STARS                             NaN
27601   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              SCIENCE                       Earth Science                           -                                 24                   2                12.0                      12                     12       STARS                             NaN
27602   32       K        K564                     Bushwick Community High School  09-12       GEN ED                              SCIENCE                  Living Environment                           -                                161                   6                26.8                      17                     31       STARS                             NaN

In [117]:
#I believe that the CSD and the School Code in the size dataset create the DBN in the Math Dataset, but not sure
i = (Math.DBN == "02M290")
for k in range(0,33461):
    if i[k] == True:
        print "yes"
#     if i[k] == False:
#         print "no"

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [14]:
Size["DBN"] = "N/A"
counter = 0
for i in Size.iterrows():
    Size.loc[counter]["DBN"] = "0"+str(i[1]["CSD"])+i[1]["SCHOOL CODE"]
    counter += 1
    break
Size.head()

#


#     i[1]["DBN"] = "0"+str(i[1]["CSD"])+i[1]["SCHOOL CODE"]
#     print i[1]["DBN"]
#     break
#     Size["DBN"] = "N/A
# for i in Size.iterrows():
#     Size.iloc[counter]["DBN"] = "0"+str(i[1]["CSD"])+i[1]["SCHOOL CODE"]
# # print i[1]["DBN]
#     counter ++
#     Size.head()
# break
# Size.head()

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  DBN
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED                                    -                                   -                           -                                 19                   1                  19                      19                     19         ATS                             NaN  N/A
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT                                    -                                   -                           -                                 21                   1                  21                      21                     21         ATS                             NaN  N/A
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED                                    -                                   -                           -                                 17                   1                  17                      17                     17         ATS                             NaN  N/A
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT                                    -                                   -                           -                                 17                   1                  17                      17                     17         ATS                             NaN  N/A
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED                                    -                                   -                           -                                 15                   1                  15                      15                     15         ATS                             NaN  N/A

In [124]:
Size["SCHOOL CODE"]

0        M015
1        M015
2        M015
3        M015
4        M015
5        M015
6        M015
7        M015
8        M015
9        M015
10       M015
11       M015
12       M019
13       M019
14       M019
15       M019
16       M019
17       M019
18       M019
19       M019
20       M019
21       M019
22       M019
23       M019
24       M019
25       M020
26       M020
27       M020
28       M020
29       M020
         ...
27581    K556
27582    K556
27583    K556
27584    K556
27585    K556
27586    K556
27587    K556
27588    K556
27589    K556
27590    K556
27591    K556
27592    K556
27593    K556
27594    K556
27595    K564
27596    K564
27597    K564
27598    K564
27599    K564
27600    K564
27601    K564
27602    K564
27603    K564
27604    K564
27605    K564
27606    K564
27607    K564
27608    K564
27609    K564
27610    K564
Name: SCHOOL CODE, dtype: object

In [139]:
Demo.head()

      DBN                School Name     Year  Total Enrollment  Grade PK  Grade K  Grade 1  Grade 2  Grade 3  Grade 4  Grade 5  Grade 6  Grade 7  Grade 8  Grade 9  Grade 10  Grade 11  Grade 12  # Female % Female  # Male % Male  # Asian % Asian  # Black % Black  # Hispanic % Hispanic  # Other % Other  # White % White  # Students with Disabilities % Students with Disabilities  # English Language Learners % English Language Learners  # Poverty % Poverty
0  01M015  P.S. 015 Roberto Clemente  2010-11               203        13       37       35       33       30       30       25        0        0        0        0         0         0         0        90    44.3%     113  55.7%       13    6.4%       75   36.9%         110      54.2%        1    0.5%        4    2.0%                            51                        25.1%                           30                       14.8%        203    100.0%
1  01M015  P.S. 015 Roberto Clemente  2011-12               189        13       31       35       28       25       28       29        0        0        0        0         0         0         0        92    48.7%      97  51.3%       12    6.3%       63   33.3%         109      57.7%        1    0.5%        4    2.1%                            52                        27.5%                           22                       11.6%        189    100.0%
2  01M015  P.S. 015 Roberto Clemente  2012-13               177        18       38       26       22       26       23       24        0        0        0        0         0         0         0        91    51.4%      86  48.6%       15    8.5%       63   35.6%          93      52.5%        3    1.7%        3    1.7%                            55                        31.1%                           21                       11.9%        177    100.0%
3  01M015  P.S. 015 Roberto Clemente  2013-14               190        26       39       39       21       16       26       23        0        0        0        0         0         0         0        93    48.9%      97  51.1%        9    4.7%       72   37.9%         104      54.7%        2    1.1%        3    1.6%                            65                        34.2%                           19                       10.0%        190    100.0%
4  01M015  P.S. 015 Roberto Clemente  2014-15               183        18       27       47       31       19       17       24        0        0        0        0         0         0         0        84    45.9%      99  54.1%        8    4.4%       65   35.5%         107      58.5%        1    0.5%        2    1.1%                            57                        31.1%                           17                        9.3%        183    100.0%