In [41]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [76]:
englishEll=pd.read_csv("English-ELL.csv")
MathEll=pd.read_csv("Math-ELL.csv")
Charter = pd.read_csv("Math-Charter.csv")
MathEll.head()

      DBN Grade  Year Demographic  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4
0  01M015     3  2006         ELL              4                s           s           s           s           s           s           s           s           s                 s                 s
1  01M015     3  2006          EP             35              671           0           0          10        28.6          19        54.3           6        17.1                25              71.4
2  01M015     3  2007         ELL              8              668           0           0           1        12.5           6          75           1        12.5                 7              87.5
3  01M015     3  2007          EP             23              674           2         8.7           2         8.7          16        69.6           3          13                19              82.6
4  01M015     3  2008         ELL              6              670           0           0           0           0           6         100           0           0                 6               100

In [14]:
englishEll.shape

(63470, 16)

In [15]:
MathEll.shape

(64228, 16)

In [27]:
englishEll.columns = ['DBN', 'Grade', "Year", "Demographic", "E.NumberTested", "E.Mean Scale Score", "E.Num Level 1", "E.Pct Level 1", "E.Num Level 2", "E.Pct Level 2","E.Num Level 3", "E.Pct Level 3", "E.Num Level 4", "E.Pct Level 4", "E.Num Level 3 and 4", "E.Pct Level 3 and 4"]

In [28]:
MathEll.columns = ['DBN', 'Grade', "Year", "Demographic", "M.NumberTested", "M.Mean Scale Score", "M.Num Level 1", "M.Pct Level 1", "M.Num Level 2", "M.Pct Level 2","M.Num Level 3", "M.Pct Level 3", "M.Num Level 4", "M.Pct Level 4", "M.Num Level 3 and 4", "M.Pct Level 3 and 4"]

In [72]:
merge = MathEll.merge(englishEll, how='outer', on=["DBN", "Grade", "Year", "Demographic"],
      left_index=False, right_index=False, sort=False, copy=True)
merge.columns = ['DBN', 'Grade', "Year", "Demographic", "M.NumberTested", "M.Mean Scale Score", "M.Num Level 1", "M.Pct Level 1", "M.Num Level 2", "M.Pct Level 2","M.Num Level 3", "M.Pct Level 3", "M.Num Level 4", "M.Pct Level 4", "M.Num Level 3 and 4", "M.Pct Level 3 and 4","E.NumberTested", "E.Mean Scale Score", "E.Num Level 1", "E.Pct Level 1", "E.Num Level 2", "E.Pct Level 2","E.Num Level 3", "E.Pct Level 3", "E.Num Level 4", "E.Pct Level 4", "E.Num Level 3 and 4", "E.Pct Level 3 and 4"]

In [73]:
merge.shape

(64319, 28)

In [74]:
merge.head()

      DBN Grade  Year Demographic  M.NumberTested M.Mean Scale Score M.Num Level 1 M.Pct Level 1 M.Num Level 2 M.Pct Level 2 M.Num Level 3 M.Pct Level 3 M.Num Level 4 M.Pct Level 4 M.Num Level 3 and 4 M.Pct Level 3 and 4  E.NumberTested E.Mean Scale Score E.Num Level 1 E.Pct Level 1 E.Num Level 2 E.Pct Level 2 E.Num Level 3 E.Pct Level 3 E.Num Level 4 E.Pct Level 4 E.Num Level 3 and 4 E.Pct Level 3 and 4
0  01M015     3  2006         ELL               4                  s             s             s             s             s             s             s             s             s                   s                   s             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
1  01M015     3  2006          EP              35                671             0             0            10          28.6            19          54.3             6          17.1                  25                71.4              37                651             4          10.8            14          37.8            19          51.4             0             0                  19                51.4
2  01M015     3  2007         ELL               8                668             0             0             1          12.5             6            75             1          12.5                   7                87.5               8                627             2            25             6            75             0             0             0             0                   0                   0
3  01M015     3  2007          EP              23                674             2           8.7             2           8.7            16          69.6             3            13                  19                82.6              25                637             4            16            12            48             9            36             0             0                   9                  36
4  01M015     3  2008         ELL               6                670             0             0             0             0             6           100             0             0                   6                 100               6                643             0             0             4          66.7             2          33.3             0             0                   2                33.3

In [78]:
Charter.shape

(1835, 16)

In [79]:
Charter.head()

      DBN Grade  Year   Demographic  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4
0  84K355     5  2006  All Students             72              664           1         1.4          24        33.3          41        56.9           6         8.3                47              65.3
1  84K355     5  2007  All Students             64              688           0           0           4         6.3          44        68.8          16          25                60              93.8
2  84K355     5  2008  All Students             76              688           1         1.3           2         2.6          50        65.8          23        30.3                73              96.1
3  84K355     5  2009  All Students             52              703           0           0           0           0          21        40.4          31        59.6                52               100
4  84K355     5  2010  All Students             79              692           0           0          11        13.9          49          62          19        24.1                68              86.1

In [ ]:
schools = []
for i in MathEll.iterrows():
    schools.append(i[1]["DBN"])