In [5]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [6]:
Math=pd.read_csv("Math.csv")
Charter = pd.read_csv("Math-Charter.csv")
Size = pd.read_csv("ClassSize.csv")
Survey = pd.read_csv("SurveyData.csv")
Demo = pd.read_csv("DemographicData.csv")
mergeddata = pd.read_csv("mergeddata-1.csv")
funding = pd.read_csv("fundingdf.csv")

In [7]:
Survey.head()

,dbn,schoolname,rr_s,rr_t,rr_p,N_s,N_t,N_p,nr_s,nr_t,nr_p,saf_p_11,com_p_11,eng_p_11,aca_p_11,saf_t_11,com_t_11,eng_t_11,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11,p_q2h,p_q7a,p_q7b,p_q7c,p_q7d,p_q8a,p_q8b,p_q8c,p_q8d,p_q8e,p_q8f,p_q2b,p_q2d,p_q2e,p_q2f,p_q2g,p_q3a,p_q3b,p_q4b,p_q4c,p_q11c,p_q2a,p_q2c,...,s_N_q13b_3,s_N_q13b_4,s_N_q13c_1,s_N_q13c_2,s_N_q13c_3,s_N_q13c_4,s_N_q13d_1,s_N_q13d_2,s_N_q13d_3,s_N_q13d_4,s_N_q13e_1,s_N_q13e_2,s_N_q13e_3,s_N_q13e_4,s_N_q13f_1,s_N_q13f_2,s_N_q13f_3,s_N_q13f_4,s_N_q13g_1,s_N_q13g_2,s_N_q13g_3,s_N_q13g_4,s_N_q14a_1,s_N_q14a_2,s_N_q14a_3,s_N_q14a_4,s_N_q14b_1,s_N_q14b_2,s_N_q14b_3,s_N_q14b_4,s_N_q14c_1,s_N_q14c_2,s_N_q14c_3,s_N_q14c_4,s_N_q14d_1,s_N_q14d_2,s_N_q14d_3,s_N_q14d_4,s_N_q14e_1,s_N_q14e_2,s_N_q14e_3,s_N_q14e_4,s_N_q14f_1,s_N_q14f_2,s_N_q14f_3,s_N_q14f_4,s_N_q14g_1,s_N_q14g_2,s_N_q14g_3,s_N_q14g_4
0,01M015,P.S. 015 Roberto Clemente,NaN,88,60,NaN,22,90,0,25,150,8.5,7.6,7.5,7.8,7.5,7.8,7.6,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9,8.0,8.2,8.3,7.5,7.9,6.8,8.7,9.7,8.7,9.9,9.9,7.7,8.3,7.9,8.1,7.5,7.3,6.7,7.6,7.9,7.5,8.0,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01M019,P.S. 019 Asher Levy,NaN,100,60,NaN,34,161,0,33,269,8.4,7.6,7.6,7.8,8.6,8.5,8.9,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4,7.7,7.9,8.0,7.3,7.7,6.5,8.8,9.4,8.7,10.0,9.9,7.5,8.2,7.9,8.0,7.2,7.0,6.9,8.0,8.4,7.4,7.6,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01M020,P.S. 020 Anna Silver,NaN,88,73,NaN,42,367,0,48,505,8.9,8.3,8.3,8.6,7.6,6.3,6.8,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0,8.1,8.8,8.9,8.5,8.4,7.6,9.2,9.4,9.2,9.8,9.7,8.4,8.8,8.5,8.3,8.0,7.6,7.3,8.6,8.7,8.4,8.8,8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M034,P.S. 034 Franklin D. Roosevelt,89,73,50,145,29,151,163,40,301,8.8,8.2,8.0,8.5,7.0,6.2,6.8,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9,8.1,8.5,8.8,8.2,8.3,7.3,9.2,9.4,9.1,9.8,9.7,8.3,8.7,8.3,8.1,7.6,7.6,7.5,8.6,8.6,8.4,8.5,8.1,...,19,16,24,74,20,24,21,50,26,45,76,35,14,17,100,30,6,4,89,28,9,12,32,68,21,16,23,60,32,25,43,66,19,12,39,68,18,16,35,70,20,16,23,54,33,29,31,46,16,8
4,01M063,P.S. 063 William McKinley,NaN,100,60,NaN,23,90,0,23,151,8.7,7.9,8.1,7.9,8.4,7.3,7.8,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0,8.0,8.4,8.6,8.0,8.0,6.5,8.8,9.6,9.4,10.0,10.0,7.6,8.5,8.0,8.2,7.4,7.8,7.2,8.1,7.9,7.8,8.2,8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#clean up survey data
allcolumns = Survey.columns 
dropcolumns = []
counter = 0
for title in allcolumns:
    if title in ["dbn", "schoolname", "eng_p_11", "eng_s_11", "eng_t_11", "aca_p_11", "aca_t_11", "aca_s_11"]:

        continue
        
    else:
        dropcolumns.append(title)

Surveydf = Survey.drop(dropcolumns, axis = 1)

Surveydf.head(30)

       dbn                                         schoolname  eng_p_11  aca_p_11  eng_t_11  aca_t_11  eng_s_11  aca_s_11
0   01M015                          P.S. 015 Roberto Clemente       7.5       7.8       7.6       7.9       NaN       NaN
1   01M019                                P.S. 019 Asher Levy       7.6       7.8       8.9       9.1       NaN       NaN
2   01M020                               P.S. 020 Anna Silver       8.3       8.6       6.8       7.5       NaN       NaN
3   01M034                     P.S. 034 Franklin D. Roosevelt       8.0       8.5       6.8       7.8       6.5       7.4
4   01M063                          P.S. 063 William McKinley       8.1       7.9       7.8       8.1       NaN       NaN
5   01M064                              P.S. 064 Robert Simon       8.2       8.5       8.3       8.5       NaN       NaN
6   01M110                      P.S. 110 Florence Nightingale       7.6       7.7       5.7       6.5       NaN       NaN
7   01M134                           P.S. 134 Henrietta Szold       8.0       7.9       6.5       7.3       NaN       NaN
8   01M137                         P.S. 137 John L. Bernstein       8.0       8.2       6.1       6.9       NaN       NaN
9   01M140                             P.S. 140 Nathan Straus       8.1       8.4       6.3       7.3       7.5       8.0
10  01M142                             P.S. 142 Amalia Castro       8.1       8.3       7.8       8.1       NaN       NaN
11  01M184                                P.S. 184 Shuang Wen       8.0       8.0       7.2       8.1       7.2       7.7
12  01M188                         P.S. 188 The Island School       8.2       7.9       5.7       6.4       7.0       7.5
13  01M292      Henry Street School for International Studies       7.4       7.6       6.1       6.5       6.1       6.7
14  01M301              Technology, Arts, and Sciences Studio       7.4       7.6       8.5       8.0       6.4       7.0
15  01M315                  The East Village Community School       8.8       8.7       8.3       8.2       NaN       NaN
16  01M332              University Neighborhood Middle School       7.8       8.0       8.5       8.8       7.0       8.1
17  01M345  Collaborative Academy of Science, Technology, ...       7.6       7.7       6.0       6.5       7.0       7.6
18  01M361                     The Children's Workshop School       8.3       8.5       8.6       8.6       NaN       NaN
19  01M363                                Neighborhood School       8.4       7.9       7.7       7.4       NaN       NaN
20  01M364                                       Earth School       8.9       8.8       9.1       9.0       NaN       NaN
21  01M378                          School for Global Leaders       7.8       8.6       5.1       6.6       7.3       8.0
22  01M448                University Neighborhood High School       7.2       7.3       6.6       7.3       6.3       7.0
23  01M450                         East Side Community School       8.1       8.4       8.0       8.8       NaN       NaN
24  01M458                          Forsyth Satellite Academy       6.7       7.6       8.9       8.9       6.1       6.8
25  01M509                            Marta Valle High School       7.2       7.3       6.1       6.8       6.4       7.0
26  01M515            Lower East Side Preparatory High School       7.4       7.5       8.7       9.1       7.0       7.3
27  01M539  New Explorations into Science, Technology and ...       7.9       8.4       5.9       7.3       7.0       7.7
28  01M650                               Cascades High School       8.1       8.6       8.3       8.7       7.9       8.4
29  01M696                     Bard High School Early College       8.3       9.1       7.5       8.3       8.0       8.9

In [9]:
Math = Math.drop("Demographic", axis = 1)
Charter = Charter.drop("Demographic", axis = 1)

In [10]:
#Set charter/public columns
Charter["School Type"] = "Charter"
Math["School Type"] = "Public"
Math.head()

      DBN Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
0  01M015     3  2006             39              667           2         5.1          11        28.2          20        51.3           6        15.4                26              66.7      Public
1  01M015     3  2007             31              672           2         6.5           3         9.7          22          71           4        12.9                26              83.9      Public
2  01M015     3  2008             37              668           0           0           6        16.2          29        78.4           2         5.4                31              83.8      Public
3  01M015     3  2009             33              668           0           0           4        12.1          28        84.8           1           3                29              87.9      Public
4  01M015     3  2010             26              677           6        23.1          12        46.2           6        23.1           2         7.7                 8              30.8      Public

In [11]:
Mathdf =  Math[Math["Year"] == 2011]
Mathdf.head()

       DBN       Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
5   01M015           3  2011             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9      Public
12  01M015           4  2011             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3      Public
19  01M015           5  2011             25              667           5          20           8          32          12          48           0           0                12                48      Public
27  01M015  All Grades  2011             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6      Public
34  01M019           3  2011             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5      Public

In [12]:
Mathdf.shape

(4950, 16)

In [13]:
Charter.shape

(1835, 16)

In [14]:
Charter.head()

      DBN Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
0  84K355     5  2006             72              664           1         1.4          24        33.3          41        56.9           6         8.3                47              65.3     Charter
1  84K355     5  2007             64              688           0           0           4         6.3          44        68.8          16          25                60              93.8     Charter
2  84K355     5  2008             76              688           1         1.3           2         2.6          50        65.8          23        30.3                73              96.1     Charter
3  84K355     5  2009             52              703           0           0           0           0          21        40.4          31        59.6                52               100     Charter
4  84K355     5  2010             79              692           0           0          11        13.9          49          62          19        24.1                68              86.1     Charter

In [15]:
schools = []
for i in Math.iterrows():
    schools.append(i[1]["DBN"])

In [16]:
# Charter.columns = ['DBN', 'Grade', "Year", "Demographic", "M.NumberTested", "M.Mean Scale Score", "M.Num Level 1", "M.Pct Level 1", "M.Num Level 2", "M.Pct Level 2","M.Num Level 3", "M.Pct Level 3", "M.Num Level 4", "M.Pct Level 4", "M.Num Level 3 and 4", "M.Pct Level 3 and 4"]

In [17]:
Charter.head()

      DBN Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
0  84K355     5  2006             72              664           1         1.4          24        33.3          41        56.9           6         8.3                47              65.3     Charter
1  84K355     5  2007             64              688           0           0           4         6.3          44        68.8          16          25                60              93.8     Charter
2  84K355     5  2008             76              688           1         1.3           2         2.6          50        65.8          23        30.3                73              96.1     Charter
3  84K355     5  2009             52              703           0           0           0           0          21        40.4          31        59.6                52               100     Charter
4  84K355     5  2010             79              692           0           0          11        13.9          49          62          19        24.1                68              86.1     Charter

In [18]:
merge = Math.append(Charter, ignore_index=True)

In [19]:
merge.shape

(35296, 16)

In [20]:
#Standardize DBN numbers for class size data
Size["DBN"] = "N/A"
counter = 0
for i in Size.iterrows():
    newdbn = "0"+str(i[1]["CSD"])+i[1]["SCHOOL CODE"]
    Size.ix[counter, "DBN"]= newdbn
    counter += 1

In [21]:
#Only keep relevant class size columns, and only keep GEN ED
sizeallcolumns = Size.columns 
sizedropcolumns = []
print len(sizeallcolumns)
for title in sizeallcolumns:
    if title in ["SCHOOL NAME", "BOROUGH", "GRADE ", 'PROGRAM TYPE', "AVERAGE CLASS SIZE", "DBN"]:
        continue
    else:
        sizedropcolumns.append(title)

Sizedf = Size.drop(sizedropcolumns, axis = 1)

Sizedf.head(30)

17

   BOROUGH                SCHOOL NAME GRADE  PROGRAM TYPE  AVERAGE CLASS SIZE     DBN
0        M  P.S. 015 Roberto Clemente     0K       GEN ED                19.0  01M015
1        M  P.S. 015 Roberto Clemente     0K          CTT                21.0  01M015
2        M  P.S. 015 Roberto Clemente     01       GEN ED                17.0  01M015
3        M  P.S. 015 Roberto Clemente     01          CTT                17.0  01M015
4        M  P.S. 015 Roberto Clemente     02       GEN ED                15.0  01M015
5        M  P.S. 015 Roberto Clemente     02          CTT                17.0  01M015
6        M  P.S. 015 Roberto Clemente     03       GEN ED                12.0  01M015
7        M  P.S. 015 Roberto Clemente     03          CTT                15.0  01M015
8        M  P.S. 015 Roberto Clemente     04       GEN ED                13.0  01M015
9        M  P.S. 015 Roberto Clemente     05       GEN ED                27.0  01M015
10       M  P.S. 015 Roberto Clemente  0K-09      SPEC ED                 9.0  01M015
11       M  P.S. 015 Roberto Clemente    NaN          NaN                 NaN  01M015
12       M        P.S. 019 Asher Levy     0K       GEN ED                19.5  01M019
13       M        P.S. 019 Asher Levy     0K          CTT                12.0  01M019
14       M        P.S. 019 Asher Levy     01       GEN ED                19.5  01M019
15       M        P.S. 019 Asher Levy     01          CTT                13.0  01M019
16       M        P.S. 019 Asher Levy     02       GEN ED                23.0  01M019
17       M        P.S. 019 Asher Levy     03       GEN ED                17.5  01M019
18       M        P.S. 019 Asher Levy     04       GEN ED                22.0  01M019
19       M        P.S. 019 Asher Levy     04          CTT                24.0  01M019
20       M        P.S. 019 Asher Levy     05       GEN ED                22.0  01M019
21       M        P.S. 019 Asher Levy     05          CTT                21.0  01M019
22       M        P.S. 019 Asher Levy  0K-09      SPEC ED                 7.0  01M019
23       M        P.S. 019 Asher Levy  0K-09      SPEC ED                11.0  01M019
24       M        P.S. 019 Asher Levy    NaN          NaN                 NaN  01M019
25       M       P.S. 020 Anna Silver     0K       GEN ED                22.3  01M020
26       M       P.S. 020 Anna Silver     0K          CTT                22.0  01M020
27       M       P.S. 020 Anna Silver     01       GEN ED                23.0  01M020
28       M       P.S. 020 Anna Silver     01          CTT                21.0  01M020
29       M       P.S. 020 Anna Silver     02       GEN ED                18.3  01M020

In [22]:
Sizedf =  Sizedf[Sizedf["PROGRAM TYPE"] == "GEN ED"]
Sizedf.head()

  BOROUGH                SCHOOL NAME GRADE  PROGRAM TYPE  AVERAGE CLASS SIZE     DBN
0       M  P.S. 015 Roberto Clemente     0K       GEN ED                  19  01M015
2       M  P.S. 015 Roberto Clemente     01       GEN ED                  17  01M015
4       M  P.S. 015 Roberto Clemente     02       GEN ED                  15  01M015
6       M  P.S. 015 Roberto Clemente     03       GEN ED                  12  01M015
8       M  P.S. 015 Roberto Clemente     04       GEN ED                  13  01M015

In [23]:
#Clean up years for demographic data
Demo =  Demo[Demo["Year"] == "2010-11"]
Demo.head()

       DBN                     School Name     Year  Total Enrollment  Grade PK  Grade K  Grade 1  Grade 2  Grade 3  Grade 4  Grade 5  Grade 6  Grade 7  Grade 8  Grade 9  Grade 10  Grade 11  Grade 12  # Female % Female  # Male % Male  # Asian % Asian  # Black % Black  # Hispanic % Hispanic  # Other % Other  # White % White  # Students with Disabilities % Students with Disabilities  # English Language Learners % English Language Learners  # Poverty % Poverty
0   01M015       P.S. 015 Roberto Clemente  2010-11               203        13       37       35       33       30       30       25        0        0        0        0         0         0         0        90    44.3%     113  55.7%       13    6.4%       75   36.9%         110      54.2%        1    0.5%        4    2.0%                            51                        25.1%                           30                       14.8%        203    100.0%
5   01M019             P.S. 019 Asher Levy  2010-11               328        36       53       53       47       41       49       49        0        0        0        0         0         0         0       173    52.7%     155  47.3%       48   14.6%       89   27.1%         155      47.3%        5    1.5%       31    9.5%                            73                        22.3%                           33                       10.1%        328    100.0%
10  01M020            P.S. 020 Anna Silver  2010-11               625        54      118       98       84       82      100       89        0        0        0        0         0         0         0       292    46.7%     333  53.3%      176   28.2%       51    8.2%         374      59.8%        7    1.1%       17    2.7%                           111                        17.8%                          144                       23.0%        625    100.0%
15  01M034  P.S. 034 Franklin D. Roosevelt  2010-11               393        17       29       38       43       28       37       37       53       57       54        0         0         0         0       194    49.4%     199  50.6%       27    6.9%       81   20.6%         270      68.7%        5    1.3%       10    2.5%                           120                        30.5%                           45                       11.5%        392     99.7%
20  01M063       P.S. 063 William McKinley  2010-11               181        15       32       20       26       26       23       39        0        0        0        0         0         0         0        77    42.5%     104  57.5%       13    7.2%       34   18.8%         113      62.4%        2    1.1%       19   10.5%                            53                        29.3%                            5                        2.8%        151     83.4%

In [24]:
#Only keep relevant demographic columns
demogallcolumns = Demo.columns 
demogdropcolumns = []
for title in demogallcolumns:
    if title in ["DBN", "School Name", "% Female", "% Male", "% Asian", "% Black", "% Hispanic", "% Other", "% White"]:
        continue
    else:
        demogdropcolumns.append(title)


Demogdf = Demo.drop(demogdropcolumns, axis = 1)

Demogdf.head(30)

        DBN                                        School Name % Female % Male % Asian % Black % Hispanic % Other % White
0    01M015                          P.S. 015 Roberto Clemente    44.3%  55.7%    6.4%   36.9%      54.2%    0.5%    2.0%
5    01M019                                P.S. 019 Asher Levy    52.7%  47.3%   14.6%   27.1%      47.3%    1.5%    9.5%
10   01M020                               P.S. 020 Anna Silver    46.7%  53.3%   28.2%    8.2%      59.8%    1.1%    2.7%
15   01M034                     P.S. 034 Franklin D. Roosevelt    49.4%  50.6%    6.9%   20.6%      68.7%    1.3%    2.5%
20   01M063                          P.S. 063 William McKinley    42.5%  57.5%    7.2%   18.8%      62.4%    1.1%   10.5%
25   01M064                              P.S. 064 Robert Simon    44.4%  55.6%    6.8%   24.5%      62.1%    2.2%    4.3%
30   01M110                      P.S. 110 Florence Nightingale    49.2%  50.8%   13.1%   14.9%      45.5%    1.6%   24.8%
35   01M134                           P.S. 134 Henrietta Szold    52.8%  47.2%   25.3%   19.7%      53.9%    0.3%    0.8%
40   01M137                         P.S. 137 John L. Bernstein    49.6%  50.4%   17.2%   26.7%      54.3%    0.0%    1.7%
45   01M140                             P.S. 140 Nathan Straus    48.9%  51.1%    3.5%   14.1%      80.1%    0.5%    1.8%
50   01M142                             P.S. 142 Amalia Castro    51.9%  48.1%    6.3%   13.5%      75.3%    1.6%    3.3%
55   01M184                               P.S. 184m Shuang Wen    49.6%  50.4%   80.6%    4.2%       5.4%    0.6%    9.2%
60   01M188                         P.S. 188 The Island School    47.4%  52.6%    1.2%   30.2%      64.1%    0.2%    4.2%
65   01M292      Henry Street School for International Studies    40.4%  59.6%   12.5%   28.1%      56.9%    0.4%    2.0%
70   01M301              Technology, Arts, and Sciences Studio    45.2%  54.8%    9.1%   24.7%      58.6%    1.6%    5.9%
75   01M315                  The East Village Community School    41.0%  59.0%    8.5%   13.2%      31.6%    9.4%   37.3%
80   01M332              University Neighborhood Middle School    44.8%  55.2%    1.7%   25.9%      71.6%    0.0%    0.9%
85   01M345  Collaborative Academy of Science, Technology, ...    45.4%  54.6%   15.3%   18.3%      63.0%    0.4%    3.1%
90   01M361                     The Children's Workshop School    52.8%  47.2%   14.3%   12.3%      30.6%    0.8%   42.1%
95   01M363                                Neighborhood School    47.0%  53.0%   14.0%   16.5%      28.0%    1.9%   39.6%
100  01M364                                       Earth School    48.2%  51.8%   13.9%   11.5%      34.3%    3.0%   37.3%
105  01M378                          School for Global Leaders    53.8%  46.2%    9.4%   21.1%      64.3%    0.8%    4.5%
110  01M448                University Neighborhood High School    43.6%  56.4%   22.5%   26.2%      47.5%    0.0%    3.7%
115  01M450                         East Side Community School    46.7%  53.3%    8.0%   25.4%      56.6%    0.3%    9.7%
120  01M458                          Forsyth Satellite Academy    54.9%  45.1%    1.4%   27.7%      63.8%    3.3%    3.8%
125  01M509                            Marta Valle High School    50.8%  49.2%   10.5%   24.3%      63.2%    0.3%    1.6%
130  01M515            Lower East Side Preparatory High School    43.8%  56.2%   93.7%    2.1%       3.5%    0.2%    0.5%
135  01M539  New Explorations into Science, Technology and ...    51.6%  48.4%   26.0%   12.1%      15.2%    0.9%   45.8%
140  01M650                               Cascades High School    54.0%  46.0%    2.5%   43.1%      49.0%    0.5%    5.0%
145  01M696                     Bard High School Early College    68.2%  31.8%   14.8%   14.3%      16.2%    1.5%   53.2%

In [25]:
Safety = pd.read_csv("School_Safety_Report.csv")

In [26]:
#clean safety data
safetyallcolumns = Safety.columns 
safetydropcolumns = []
for title in safetyallcolumns:
    if title in ["DBN", "AvgOfMajor N", "AvgOfVio N", "AvgOfNoCrim N"]:
        continue
    else:
        safetydropcolumns.append(title)


Safetydf = Safety.drop(safetydropcolumns, axis = 1)

Safetydf.head(30)

             DBN  AvgOfMajor N  AvgOfNoCrim N  AvgOfVio N
0         15K001          0.86           5.55        1.29
1         17K002           NaN            NaN         NaN
2         75K141           NaN            NaN         NaN
3   84K704                 NaN            NaN         NaN
4            NaN          0.52           2.49        0.75
5         13K003          0.33           1.76        0.59
6         16K005          0.35           1.09        0.50
7         17K006          0.33           1.76        0.59
8         19K007          0.56           3.56        1.05
9         13K008          0.52           2.49        0.75
10        13K009           NaN            NaN         NaN
11  84K780                 NaN            NaN         NaN
12           NaN          0.33           1.76        0.59
13        15K010          0.52           2.49        0.75
14        13K011          0.33           1.76        0.59
15        17K484           NaN            NaN         NaN
16        17K012           NaN            NaN         NaN
17           NaN          0.35           1.09        0.50
18        19K013           NaN            NaN         NaN
19  84K358                 NaN            NaN         NaN
20           NaN          0.35           1.09        0.50
21        22K014          0.33           1.76        0.59
22        15K015          0.35           1.09        0.50
23  84K355                 NaN            NaN         NaN
24        14K016           NaN            NaN         NaN
25           NaN          0.43           1.23        0.41
26        14K017           NaN            NaN         NaN
27        14K577           NaN            NaN         NaN
28           NaN          0.52           2.49        0.75
29        14K018          0.43           1.23        0.41

In [27]:
# Merge Mathdf, sefetydf, demogdf, Sizedf, surveydf, Charter

In [28]:
Mathdf.head()

       DBN       Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type
5   01M015           3  2011             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9      Public
12  01M015           4  2011             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3      Public
19  01M015           5  2011             25              667           5          20           8          32          12          48           0           0                12                48      Public
27  01M015  All Grades  2011             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6      Public
34  01M019           3  2011             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5      Public

In [29]:
Safetydf.head()

            DBN  AvgOfMajor N  AvgOfNoCrim N  AvgOfVio N
0        15K001          0.86           5.55        1.29
1        17K002           NaN            NaN         NaN
2        75K141           NaN            NaN         NaN
3  84K704                 NaN            NaN         NaN
4           NaN          0.52           2.49        0.75

In [30]:
Demogdf.head()

       DBN                     School Name % Female % Male % Asian % Black % Hispanic % Other % White
0   01M015       P.S. 015 Roberto Clemente    44.3%  55.7%    6.4%   36.9%      54.2%    0.5%    2.0%
5   01M019             P.S. 019 Asher Levy    52.7%  47.3%   14.6%   27.1%      47.3%    1.5%    9.5%
10  01M020            P.S. 020 Anna Silver    46.7%  53.3%   28.2%    8.2%      59.8%    1.1%    2.7%
15  01M034  P.S. 034 Franklin D. Roosevelt    49.4%  50.6%    6.9%   20.6%      68.7%    1.3%    2.5%
20  01M063       P.S. 063 William McKinley    42.5%  57.5%    7.2%   18.8%      62.4%    1.1%   10.5%

In [31]:
Sizedf.head()

  BOROUGH                SCHOOL NAME GRADE  PROGRAM TYPE  AVERAGE CLASS SIZE     DBN
0       M  P.S. 015 Roberto Clemente     0K       GEN ED                  19  01M015
2       M  P.S. 015 Roberto Clemente     01       GEN ED                  17  01M015
4       M  P.S. 015 Roberto Clemente     02       GEN ED                  15  01M015
6       M  P.S. 015 Roberto Clemente     03       GEN ED                  12  01M015
8       M  P.S. 015 Roberto Clemente     04       GEN ED                  13  01M015

In [32]:
Charter.columns = ['DBN', 'Grade', "Year", "C.NumberTested", "C.Mean Scale Score", "C.Num Level 1", "C.Pct Level 1", "C.Num Level 2", "C.Pct Level 2","C.Num Level 3", "C.Pct Level 3", "C.Num Level 4", "C.Pct Level 4", "C.Num Level 3 and 4", "C.Pct Level 3 and 4","School Type"]

In [33]:
merge1 = Mathdf.merge(Charter, on = ["DBN","School Type", "Grade", "Year"], how = "outer")

In [34]:
merge1.head()

      DBN       Grade  Year  Number Tested Mean Scale Score Num Level 1 Pct Level 1 Num Level 2 Pct Level 2 Num Level 3 Pct Level 3 Num Level 4 Pct Level 4 Num Level 3 and 4 Pct Level 3 and 4 School Type  C.NumberTested C.Mean Scale Score C.Num Level 1 C.Pct Level 1 C.Num Level 2 C.Pct Level 2 C.Num Level 3 C.Pct Level 3 C.Num Level 4 C.Pct Level 4 C.Num Level 3 and 4 C.Pct Level 3 and 4
0  01M015           3  2011             28              671          10        35.7          13        46.4           5        17.9           0           0                 5              17.9      Public             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
1  01M015           4  2011             28              668           3        10.7          14          50           9        32.1           2         7.1                11              39.3      Public             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
2  01M015           5  2011             25              667           5          20           8          32          12          48           0           0                12                48      Public             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
3  01M015  All Grades  2011             81              669          18        22.2          35        43.2          26        32.1           2         2.5                28              34.6      Public             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN
4  01M019           3  2011             34              679           2         5.9          23        67.6           7        20.6           2         5.9                 9              26.5      Public             NaN                NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN                 NaN                 NaN

In [35]:
merge2 = merge1.merge(Sizedf, on = "DBN", how = "left")

In [36]:
merge3 = merge2.merge(Demogdf, on = "DBN", how = "left")

In [37]:
merge3.shape

(17285, 41)

In [38]:
merge4 = merge3.merge(Safetydf, on = "DBN", how = "left")

In [39]:
merge4.shape

(17285, 44)

In [40]:
Surveydf.columns = ["DBN", "schoolname", "eng_p_11", "aca_p_11", "eng_t_11", "aca_t_11", "eng_s_11", "aca_s_11"]

In [41]:
Surveydf.head()

      DBN                      schoolname  eng_p_11  aca_p_11  eng_t_11  aca_t_11  eng_s_11  aca_s_11
0  01M015       P.S. 015 Roberto Clemente       7.5       7.8       7.6       7.9       NaN       NaN
1  01M019             P.S. 019 Asher Levy       7.6       7.8       8.9       9.1       NaN       NaN
2  01M020            P.S. 020 Anna Silver       8.3       8.6       6.8       7.5       NaN       NaN
3  01M034  P.S. 034 Franklin D. Roosevelt       8.0       8.5       6.8       7.8       6.5       7.4
4  01M063       P.S. 063 William McKinley       8.1       7.9       7.8       8.1       NaN       NaN

In [42]:
merge5 = merge4.merge(Surveydf, on = "DBN", how = "left")

In [43]:
merge5.shape

(17285, 51)

In [44]:
merge5

,DBN,Grade,Year,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4,School Type,C.NumberTested,C.Mean Scale Score,C.Num Level 1,C.Pct Level 1,C.Num Level 2,C.Pct Level 2,C.Num Level 3,C.Pct Level 3,C.Num Level 4,C.Pct Level 4,C.Num Level 3 and 4,C.Pct Level 3 and 4,BOROUGH,SCHOOL NAME,GRADE,PROGRAM TYPE,AVERAGE CLASS SIZE,School Name,% Female,% Male,% Asian,% Black,% Hispanic,% Other,% White,AvgOfMajor N,AvgOfNoCrim N,AvgOfVio N,schoolname,eng_p_11,aca_p_11,eng_t_11,aca_t_11,eng_s_11,aca_s_11
0,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
1,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
2,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
3,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
4,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
5,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,05,GEN ED,27.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
6,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
7,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
8,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
9,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
10,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
11,01M015,4,2011,28,668,3,10.7,14,50,9,32.1,2,7.1,11,39.3,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,05,GEN ED,27.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
12,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
13,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
14,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
15,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
16,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
17,01M015,5,2011,25,667,5,20,8,32,12,48,0,0,12,48,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,05,GEN ED,27.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
18,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
19,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
20,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
21,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
22,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
23,01M015,All Grades,2011,81,669,18,22.2,35,43.2,26,32.1,2,2.5,28,34.6,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,05,GEN ED,27.0,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
24,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,0K,GEN ED,19.5,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
25,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,01,GEN ED,19.5,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
26,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,02,GEN ED,23.0,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
27,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,03,GEN ED,17.5,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
28,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,04,GEN ED,22.0,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
29,01M019,3,2011,34,679,2,5.9,23,67.6,7,20.6,2,5.9,9,26.5,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 019 Asher Levy,05,GEN ED,22.0,P.S. 019 Asher Levy,52.7%,47.3%,14.6%,27.1%,47.3%,1.5%,9.5%,NaN,NaN,NaN,P.S. 019 Asher Levy,7.6,7.8,8.9,9.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17255,84X730,3,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,42,674,0,0,3,7.1,35,83.3,4,9.5,39,92.9,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17256,84X730,3,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,47,699,0,0,14,29.8,21,44.7,12,25.5,33,70.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17257,84X730,3,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,47,685,0,0,22,46.8,24,51.1,1,2.1,25,53.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17258,84X730,3,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,49,692,1,2,18,36.7,24,49,6,12.2,30,61.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17259,84X730,4,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,40,657,5,12.5,7,17.5,26,65,2,5,28,70,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17260,84X730,4,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,37,661,1,2.7,14,37.8,20,54.1,2,5.4,22,59.5,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17261,84X730,4,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,42,674,1,2.4,4,9.5,30,71.4,7,16.7,37,88.1,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17262,84X730,4,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,42,669,2,4.8,6,14.3,31,73.8,3,7.1,34,81,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17263,84X730,4,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,47,676,0,0,24,51.1,19,40.4,4,8.5,23,48.9,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17264,84X730,4,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,49,681,2,4.1,16,32.7,27,55.1,4,8.2,31,63.3,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17265,84X730,4,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,51,678,2,3.9,22,43.1,22,43.1,5,9.8,27,52.9,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17266,84X730,5,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,40,641,12,30,10,25,16,40,2,5,18,45,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17267,84X730,5,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,37,657,3,8.1,17,45.9,15,40.5,2,5.4,17,45.9,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17268,84X730,5,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,41,667,2,4.9,9,22,25,61,5,12.2,30,73.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17269,84X730,5,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,42,679,1,2.4,4,9.5,31,73.8,6,14.3,37,88.1,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17270,84X730,5,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,46,675,3,6.5,19,41.3,21,45.7,3,6.5,24,52.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17271,84X730,5,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,42,678,0,0,22,52.4,18,42.9,2,4.8,20,47.6,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17272,84X730,5,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,47,684,2,4.3,16,34,20,42.6,9,19.1,29,61.7,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17273,84X730,6,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,33,646,6,18.2,9,27.3,17,51.5,1,3,18,54.5,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17274,84X730,6,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,38,649,3,7.9,14,36.8,20,52.6,1,2.6,21,55.3,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17275,84X730,6,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,35,682,0,0,4,11.4,23,65.7,8,22.9,31,88.6,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17276,84X730,6,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,21,688,0,0,5,23.8,10,47.6,6,28.6,16,76.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17277,84X730,6,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,19,675,0,0,9,47.4,8,42.1,2,10.5,10,52.6,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17278,84X730,All Grades,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,120,NaN,21,17.5,28,23.3,65,54.2,6,5,71,59.2,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17279,84X730,All Grades,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,146,NaN,10,6.8,47,32.2,84,57.5,5,3.4,89,61,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17280,84X730,All Grades,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,163,NaN,6,3.7,35,21.5,104,63.8,18,11,122,74.8,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17281,84X730,All Grades,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,161,NaN,3,1.9,17,10.6,120,74.5,21,13,141,87.6,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17282,84X730,All Grades,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,161,NaN,3,1.9,62,38.5,71,44.1,25,15.5,96,59.6,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17283,84X730,All Grades,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,157,681,2,1.3,69,43.9,77,49,9,5.7,86,54.8,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7
17284,84X730,All Grades,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,147,685,5,3.4,56,38.1,66,44.9,20,13.6,86,58.5,NaN,NaN,NaN,NaN,NaN,Bronx Charter School for Arts,47.3%,52.7%,0.6%,28.7%,64.4%,5.4%,0.9%,NaN,NaN,NaN,Bronx Charter School for Arts,8.6,8.9,7.0,7.3,8.4,8.7

In [45]:
mergeddata.head()

,DBN,Grade,Year,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4,School Type,C.NumberTested,C.Mean Scale Score,C.Num Level 1,C.Pct Level 1,C.Num Level 2,C.Pct Level 2,C.Num Level 3,C.Pct Level 3,C.Num Level 4,C.Pct Level 4,C.Num Level 3 and 4,C.Pct Level 3 and 4,BOROUGH,SCHOOL NAME,GRADE,PROGRAM TYPE,AVERAGE CLASS SIZE,School Name,% Female,% Male,% Asian,% Black,% Hispanic,% Other,% White,AvgOfMajor N,AvgOfNoCrim N,AvgOfVio N,schoolname,eng_p_11,aca_p_11,eng_t_11,aca_t_11,eng_s_11,aca_s_11
0,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
1,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
2,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
3,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN
4,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN

In [46]:
funding.columns = ["DBN", "Funding"]
funding.head()

      DBN    Funding
0  10X225  3,001,810
1  14K318  7,720,906
2  10X226  2,722,452
3  01M110  2,559,804
4  05M197  2,270,648

In [47]:
mergedf = mergeddata.merge(funding, on = "DBN", how = "left")

In [48]:
mergedf.head()

,DBN,Grade,Year,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,Num Level 3 and 4,Pct Level 3 and 4,School Type,C.NumberTested,C.Mean Scale Score,C.Num Level 1,C.Pct Level 1,C.Num Level 2,C.Pct Level 2,C.Num Level 3,C.Pct Level 3,C.Num Level 4,C.Pct Level 4,C.Num Level 3 and 4,C.Pct Level 3 and 4,BOROUGH,SCHOOL NAME,GRADE,PROGRAM TYPE,AVERAGE CLASS SIZE,School Name,% Female,% Male,% Asian,% Black,% Hispanic,% Other,% White,AvgOfMajor N,AvgOfNoCrim N,AvgOfVio N,schoolname,eng_p_11,aca_p_11,eng_t_11,aca_t_11,eng_s_11,aca_s_11,Funding
0,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,0K,GEN ED,19,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN,"1,560,936"
1,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,01,GEN ED,17,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN,"1,560,936"
2,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,02,GEN ED,15,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN,"1,560,936"
3,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,03,GEN ED,12,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN,"1,560,936"
4,01M015,3,2011,28,671,10,35.7,13,46.4,5,17.9,0,0,5,17.9,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,P.S. 015 Roberto Clemente,04,GEN ED,13,P.S. 015 Roberto Clemente,44.3%,55.7%,6.4%,36.9%,54.2%,0.5%,2.0%,0.43,1.23,0.41,P.S. 015 Roberto Clemente,7.5,7.8,7.6,7.9,NaN,NaN,"1,560,936"

In [49]:
mergedf.to_csv("mergedf.csv", index=False)